<div class="form-group row ">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre Precio</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oferta of (ofertas$ | async)?.versions[0]?.productOfferingPrices">
                <td *ngFor="let suboferta of oferta.versions">
                    <span scope="row">{{suboferta.name}}</span>
                </td>
                <td *ngFor="let suboferta of oferta.versions">
                    <span scope="row">{{suboferta.price.amount}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>